name: bogo_mobile
description: A new Flutter project.

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  scoped_model: ^0.3.0
  http: ^0.11.3+16
  carousel_slider: ^0.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/food.jpg
    - assets/LoginPage/Background.jpg
    - assets/LoginPage/Big-Logo.png
    - assets/LoginPage/facebook.png
    - assets/LoginPage/google-plus.png
    - assets/LoginPage/twitter.png
    - assets/RegistrationPage/main-img.jpg
    - assets/HomePage/Bell-Icons.png
    - assets/HomePage/Search-Icons.png
    - assets/HomePage/Home-Icons.png
    - assets/HomePage/Coupons-Icons.png 
    - assets/HomePage/Platinum-Icons.png
    - assets/HomePage/More-Icons.png
    - assets/HomePage/Location-Icons.png
    - assets/HomePage/Resturants-Icons.png
    - assets/HomePage/Specilas-Icons.png
    - assets/HomePage/Pizza-Hut.png
    - assets/HomePage/Chilis.png
    - assets/HomePage/Starbucks.png
    - assets/HomePage/previous-icons.png
    - assets/HomePage/next-icons.png
    - assets/HomePage/previous-icons-inner.png
    - assets/HomePage/next-icons-inner.png
    - assets/HomePage/big-image.png
    - assets/HomePage/small-image.png
    
    



  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
